.btn {
    width: 100%;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $color-blue;
    border-radius: 5px;
    box-sizing: border-box;
    transition: 0.2s;
    
    input {
        background: transparent;
        width: 100%;
        height: 100%;
        outline: initial;
        border: none;
        color: white;
        font-family: $font-medium;
        font-size: 14px;
        text-transform: uppercase;
        transition: 0.2s;
        cursor: pointer;
        letter-spacing: 1px;
    }


    &.btn-prof {
        background: transparent;
        border: 2px solid $color-blue;
        position: relative;

        input {
            color: $color-blue;
        }

        &:after {
            content: '';
            position: absolute;
            top: 50%;
            left: 10px;
            transform: translateY(-50%);
            background: url('~@svg/icon-cadenas.svg') no-repeat center;
            background-size: 17px;
            width: 25px;
            height: 30px;
        }
    }

    &.btn-detail{
        margin: 15px 0;
        height: 45px;
        &:hover{
            background: $color-darkblue;
        }
    }
    &.btn-supr{
        background: $color-red;
        height:25px;
        &:hover{
            background: $color-darkred;
        }
    }

    &.btn-submit {
        outline: none;
        border: initial;
        position: relative;
        overflow: hidden;
        
        &:hover {
            background: $color-darkblue;
        }

        .loading-container--submit {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background: white;
            display: flex;
            z-index: 3;
            transform: translateY(100%);
            transition: transform 250ms $curve;

            &.active {
                transform: translateY(0%);
                transition: transform 250ms $curve;
            }
        }
    }

    &.btn-error {
        background: $color-red;
        
        &:hover{
            background: $color-darkred;
        }
    }
}
.btn-question-edit{
    height: 25px;
    margin-left: 5px;
    background:none;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    transition: 0.2s;
    input{
        background: transparent;
        width: 100%;
        height: 100%;
        outline: initial;
        border: none;
        color: white;
        font-family: $font-medium;
        font-size: 14px;
        text-transform: uppercase;
        transition: 0.2s;
        cursor: pointer;
        letter-spacing: 1px;
        color:$color-blue;
        text-decoration: underline;
    }
    &:hover{
        background:none;
        input{
            color: $color-darkblue;
        }
    }
}
.btn-back{
    background: $color-grey;
}

.btn-editer__container {

    .btn-editer {
        position: relative;
        cursor: pointer;
    }
}
.btn-link{
    margin: 20px 0;
    input{
        border: none;
        outline: none;
        color: #2699fb;
        background: none;
        text-decoration: underline;
        cursor: pointer;
        margin: 10px 0;
    }
}

.aae-radio{
    margin-bottom: 55px;

    [type="radio"]:checked,
    [type="radio"]:not(:checked) {
        position: absolute;
        left: -9999px;
    }
    [type="radio"]:checked + label,
    [type="radio"]:not(:checked) + label {
        position: relative;
        padding-left: 28px;
        cursor: pointer;
        line-height: 20px;
        display: inline-block;
        color: $color-black;
        margin-right: 15px;
    }
    [type="radio"]:checked + label:before,
    [type="radio"]:not(:checked) + label:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 18px;
        height: 18px;
        border: 1px solid $color-grey;
        border-radius: 100%;
        background: $color-white;
    }
    [type="radio"]:checked + label:after,
    [type="radio"]:not(:checked) + label:after {
        content: '';
        width: 12px;
        height: 12px;
        background: $color-blue;
        position: absolute;
        top: 4px;
        left: 4px;
        border-radius: 100%;
        -webkit-transition: all 0.2s ease;
        transition: all 0.2s ease;
    }
    [type="radio"]:not(:checked) + label:after {
        opacity: 0;
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    [type="radio"]:checked + label:after {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}