.input-container {
    width: 100%;
    height: auto;
    position: relative;
    &.login{
        &:after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            background: url('~@svg/icon-account.svg') no-repeat center;
            background-size: 16px;
            width: 16px;
            height: 16px;
        }
    }
    &.pwd{
        &:after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            background: url('~@svg/icon-cadenas.svg') no-repeat center;
            background-size: 12px;
            width: 16px;
            height: 16px;
        }
    }  
}

.input {
    outline: initial;
    background: none;
    border: initial;
    border-bottom: 1px solid $color-lightBlue;
    padding: 0 5px 15px 40px;
    position: relative;
    width: 100%;

    &::placeholder {
        color: $color-blue;
        font-family: $font;
        font-size: 14px;
        transition:0.2s;
    }
    &:focus{
        opacity:0.5;
        transition:0.2s;
        &::placeholder{
            opacity:0.5;
            transition:0.2s;
        }
    }

    &.input--text {
        margin-bottom: 40px;
    }
}