.input-row{
    margin: 15px 0;
    display: flex;
    justify-content: space-between;
    label{
        align-self: center;
        margin-right: 10px;
        width: 13%;
        &.large-label{
            width: 20%;
        }
    }

    @media (max-width: $tablet) {
        flex-direction: column;

        label {
            width: 100%;
            margin-bottom: 5px;
            align-self: flex-start;
        }
    }
}

.input-container {
    width: 100%;
    height: auto;
    position: relative;
    &.login{
        &:after {
            content: '';
            position: absolute;
            top: 15px;
            left: 10px;
            background: url('~@svg/icon-account.svg') no-repeat center;
            background-size: 16px;
            width: 16px;
            height: 16px;
        }
        input{
            padding: 10px 35px;
        }
    }
    &.pwd{
        display: none;
        &:after {
            content: '';
            position: absolute;
            top: 15px;
            left: 10px;
            background: url('~@svg/icon-cadenas.svg') no-repeat center;
            background-size: 12px;
            width: 16px;
            height: 16px;
        }
        input{
            padding: 10px 35px;
        }

        &.active {
            display: block;
        }
    }  
}

.input {
    outline: initial;
    background: none;
    border: initial;
    border-bottom: 1px solid $color-lightBlue;
    padding: 0 5px 15px 40px;
    position: relative;
    width: 100%;

    &::placeholder {
        color: $color-blue;
        font-family: $font;
        font-size: 14px;
        transition:0.2s;
    }
    &:focus{
        opacity:0.5;
        transition:0.2s;
        &::placeholder{
            opacity:0.5;
            transition:0.2s;
        }
    }

    &.input--text {
        margin-bottom: 40px;
    }
}

select {
    width: 100%;
    border: none;
    outline: none;
    padding: 10px 20px;
    background: $input-bg;
    border: 1px solid $color-lightgrey;
    border-radius: 7px;
    font-family: $font;
    font-size: 14px;
    margin-top: 5px;
    color: $color-darkgrey;
    transition: 0.2s;
    &:focus{
        background: white;
        transition: 0.2s;
    }
    &:hover{
        border-color: $color-blue;
    }

    option, option:disabled {
        font-family: $font;
        font-size: 14px;
        color: $color-darkgrey;
        border: none;
    }
}
 input[type="text"],
 input[type="email"],
 input[type="password"],
 input[type="date"]{
    width: 100%;
    border: none;
    outline: none;
    padding: 10px 20px;
    background: $input-bg;
    border: 1px solid $color-lightgrey;
    border-radius: 7px;
    font-family: $font;
    font-size: 14px;
    color: $color-darkgrey;
    margin-top:5px;
    transition: 0.2s;
    &:hover{
        border-color: $color-blue;
    }

    option, option:disabled {
        font-family: $font;
        font-size: 14px;
        color: $color-darkgrey;
        border: none;
    } 
    &:focus{
        background: white;
        transition: 0.2s;
    }
 }
 .input-row{
    input[type="text"],
    input[type="email"],
    select,
    input[type="password"]{
        width: 90%;
        justify-content: flex-end;
        display: flex;

        @media (max-width: $tablet) {
            width: 100%;
        }
    }
}
.filtre-questionnaire__container {
    width: 100%;
    display: flex;
    flex-direction: column;

    &.filtre-questionnaire {
        margin-bottom: 30px;
        padding-bottom: 30px;
        border-bottom: 1px solid $color-lightgrey;
    }

    .filtre-questionnaire__formulaire {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;

        .formulaire__choix-quantite {
            width: 100%;
            margin-bottom: 25px;
        }

        .formulaire__archive {
            width: 40%;
            position: relative;
            font-family: $font;
            font-size: 14px;
            color: $color-darkgrey;
            cursor: pointer;
            padding-left: 30px;
            
            input {
                position: absolute;
                opacity: 0;
                cursor: pointer;
                height: 0;
                width: 0;
            }

            .checkmark {
                position: absolute;
                height: 18px;
                width: 18px;
                border: 2px solid $color-blue;
                border-radius: 5px;
                background: transparent;
                top: -3px;
                left: 0;
                transition: background 150ms linear;

                &:after {
                    content: 'x';
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    font-size: 14px;
                    color: $color-blue;
                    opacity: 0;
                    transition: opacity 150ms linear;
                }
            }

            input:checked ~ .checkmark {

                &:after {
                    
                    opacity: 1;
                }
            }        
        }

        .btn-submit--form {
            outline: none;
            border: none;
            text-align: center;
            cursor: pointer;

            input {
                outline: none;
                border: none;
                width: 100%;
                height: 100%;
                padding: 20px 40px;
                background: $color-blue;
                font-family: $font-bold;
                color: white;
                text-transform: uppercase;
                transition: background 150ms linear;
                font-size: 14px;
                letter-spacing: 1px;
                cursor: pointer;
                border-radius: 10px;

                &:hover {
                    background: $color-darkblue;
                }
            }
        }
    }
}
