.aae-table{
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    background-color: transparent;
    box-sizing: border-box;
    td,
    th{
        padding: .75rem;
        vertical-align: top;
        border-top: 1px solid #dee2e6;
    }
}

.data-table {
  width: 100%;
  margin-bottom: 1.5em;
  border-spacing: 0;
  
  @media (min-width: $bp-medium) {
    font-size: .9em; 
  }
  
  @media (min-width: $bp-large) {
    font-size: 1em; 
  }
  
  thead {
    position: absolute;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    padding: 0;
    border: 0;
    height: 1px; 
    width: 1px; 
    overflow: hidden;
    
    @media (min-width: $bp-medium) {
      position: relative;
      clip: auto;
      height: auto;
      width: auto;
      overflow: auto;
    }
    
    th {
      background-color: $color-blue;
      border: 1px solid $color-blue;
      font-weight: normal;
      text-align: center;
      color: white;
      
      &:first-of-type {
        text-align: left; 
      }
    }
  }
  
  tbody,
  tr,
  th,
  td {
    display: block;
    padding: 0;
    text-align: left;
    white-space: normal;
  }
  
  tr {   
    @media (min-width: $bp-medium) {
      display: table-row; 
    }
  }
  
  th,
  td {
    padding: .5em;
    vertical-align: middle;
    
    @media (min-width: $bp-small) {
      padding: .75em .5em; 
    }
    
    @media (min-width: $bp-medium) {
      display: table-cell;
      padding: .5em;
    }
    
    @media (min-width: $bp-large) {
      padding: .75em .5em; 
    }
    
    @media (min-width: $bp-xl) {
      padding: .75em; 
    }
  }
  
  tbody {
    @media (min-width: $bp-medium) {
      display: table-row-group; 
    }
    
    tr {
      margin-bottom: 1em;
      
      @media (min-width: $bp-medium) {
        display: table-row;
        border-width: 1px;
      }
      
      &:last-of-type {
        margin-bottom: 0; 
      }
    }
    
    th[scope="row"] {
      background-color: $color-blue;
      color: white;
      
      @media (min-width: $bp-small) {
        border-left: 1px solid  $color-blue;
        border-bottom: 1px solid  $color-blue;
      }
      
      @media (min-width: $bp-medium) {
        background-color: transparent;
        color: $color-darkgrey;
        text-align: left;
      }
    }
    
    td {
      font-size: .85em;
      line-height: 1;

      .btn-question-edit {
        margin-left: 0;
        text-align: left;
      }

      @media (min-width: $bp-small) {
        font-size: inherit;
        line-height: inherit;
      }
      
      @media (min-width: $bp-medium) {
        border-left: 1px solid  $color-blue;
        border-bottom: 1px solid  $color-blue;
        text-align: left; 
      }
      
      &:last-of-type {
        @media (min-width: $bp-medium) {
          border-right: 1px solid  $color-blue;
        }

        @media (max-width: $bp-medium) {
          margin-bottom: 25px;

          input[type="submit"] {
            text-align: left;
            padding-left: 0;
          }
        }
      }
    }

    td[data-title]:before {
      content: attr(data-title)" : " ;
      float: left;
      color: $color-grey;
      
      @media (min-width: $bp-small) {
        font-size: .9em; 
      }
      
      @media (min-width: $bp-medium) {
        content: none; 
      }

      @media (max-width: $bp-medium) {
        margin-right: 1em;
        clear: left;
      }
    } 
  }
}

.data-example {
  tbody {
    
    th[scope="row"] {
      &:before {
        content: "Ligne " ;
      }

      @media (min-width: $bp-medium) {
        &:before {
          content: "" ;
        }
      }
    }

    td {
      &:last-of-type {
        @media (max-width: $bp-medium) {
          border: none;
        }
      }
    }    
  }
}

.smiley-table{
  width: 100%;
  max-width: 100%;
  margin-bottom: 1rem;
  background-color: transparent;
  overflow: hidden;
  border-collapse: separate;
  border-spacing: 0;
  // border-radius: .25rem;
  text-align: left;
  line-height: 40px;
  
  th, 
  td{
    padding: .75rem;
    vertical-align: top; 
    border-top: 1px solid #dee2e6;       
    
    @media screen and (max-width: $mobile) {
        float: left;
        &.clear {clear: left;}
    }

    label {
      > input[type="radio"]{
        display: none;

        + span {
          width: 36px;
          height: 36px;
          display: inline-block;
          vertical-align: middle;

          .a { fill: transparent; } // svg path surface
          .b { fill: $color-lightBlue; } // svg path outline
        }

        &:checked + span { 
          .b { fill: $color-blue; } // svg path outline
        }
      }
    }
    &:hover{ cursor: pointer; }        
  }
}

.result-table {
  .icon-cell {
    padding: 25px;

    &.very-dissatisfied {               
      background: url('~@svg/icon-sentiment-very-dissatisfied.svg') no-repeat center padding-box;
    }
    &.dissatisfied { 
      background: url('~@svg/icon-sentiment-dissatisfied.svg') no-repeat center padding-box;
    }
    &.satisfied { 
      background: url('~@svg/icon-sentiment-satisfied.svg') no-repeat center padding-box;
    }
    &.very-satisfied { 
      background: url('~@svg/icon-sentiment-very-satisfied.svg') no-repeat center padding-box;
    }
  }
  
  thead {
    tr {
      th[scope="col"] {
        background-color: transparent;
        border-top: none;
        border-left: none;
        border-right: none;
      }
    }
  }

  tbody {
    tr {
      th[scope="row"] {
        border-top: 1px solid $color-blue;
        background-color: $color-white;
        color: inherit;
                
        @media (min-width: $bp-medium) {
          background-color: transparent;
          color: $color-darkgrey;
          text-align: left;
        }

        &:first-of-type {
          width: 24px;
        }

        &.question {
          

          @media (max-width: $bp-medium) {
            margin-top: -42px;
            margin-left: 24px;               
          }

          @media (max-width: $bp-small) {
            margin-top: -33px;                
          }
        } 
      }

      &:last-of-type {
        background-color: $color-lightBlue;

        th[scope="row"]{
          background-color: $color-lightBlue;
          @media (max-width: $bp-medium) {
              border-top: none;
              height: 42px;
          }
          @media (max-width: $bp-small) {
              height: 33px;
          }    
        }
      }

      th[scope="row"], 
      td {
        @media (min-width: $bp-small) {
          border-left: none;
          border-right: none;
        }

        &:last-of-type {
          border-right: none; 
        }
      }

      td[data-title] {
        display: table-cell;
        text-align: center;

        &:before { 
          @media (max-width: $bp-small) {
            width: 100%; 
          }


        }

        &[data-title="very-dissatisfied"]:before {
          @media (max-width: $bp-small) {
            content: url('~@svg/icon-sentiment-very-dissatisfied.svg');
          }
        }

        &[data-title="dissatisfied"]:before {
          @media (max-width: $bp-small) {
            content: url('~@svg/icon-sentiment-dissatisfied.svg');
          }
        }  

        &[data-title="satisfied"]:before {
          @media (max-width: $bp-small) {
            content: url('~@svg/icon-sentiment-satisfied.svg');
          }
        }    

        &[data-title="very-satisfied"]:before {
          @media (max-width: $bp-small) {
            content: url('~@svg/icon-sentiment-very-satisfied.svg');
          }
        }  

        @media screen and (min-width: $bp-small) and (max-width: $bp-medium) {
          line-height: 36px;
          height: 36px;
          vertical-align: middle;
          border-top: none;
        }
        
        @media (min-width: $bp-medium) {     

          &:before {
            content: "";
            height: 0px;
          }
        }
      }
    }
  }
}

.info-table {
  tbody {}
    tr {
      td, 
      th { 
        border-top: none; 
        padding: .3rem;          
      }
    }
}