.aae-table{
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    background-color: transparent;
    box-sizing: border-box;
    td,
    th{
        padding: .75rem;
        vertical-align: top;
        border-top: 1px solid #dee2e6;
    }
}

.smiley-table{
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    background-color: transparent;
    overflow: hidden;
    border-collapse: separate;
    border-spacing: 0;
    // border-radius: .25rem;
    text-align: left;
    line-height: 40px;
    
    th, 
    td{
        padding: .75rem;
        vertical-align: top; 
        border-top: 1px solid #dee2e6;       
        
        @media screen and (max-width: $mobile) {
            float: left;
            &.clear {clear: left;}
        }

        label {
            > input[type="radio"]{
                display: none;

                + span {
                    width: 36px;
                    height: 36px;
                    display: inline-block;
                    vertical-align: middle;

                    .a { fill: transparent; } // svg path surface
                    .b { fill: $color-lightBlue; } // svg path outline
                }

                &:checked + span { 
                    .b { fill: $color-blue; } // svg path outline
                }
            }
        }

        &:hover{ cursor: pointer; }        
    }

    &.result-table {
        .result-head {
            vertical-align: middle;
            padding: 2em 0.75em;
        }
        
        td, 
        th {
            &:not(:nth-of-type(2)) { 
                text-align: center; 
            }

            @media screen and (max-width: $mobile) {
                float: none;
            }

            &:first-of-type { padding-left: 0; }
        }
        

        .very-dissatisfied { 
            background: url('~@svg/icon-sentiment-very-dissatisfied.svg') no-repeat center;
        }
        .dissatisfied { 
            background: url('~@svg/icon-sentiment-dissatisfied.svg') no-repeat center;
        }
        .satisfied { 
            background: url('~@svg/icon-sentiment-satisfied.svg') no-repeat center;
        }
        .very-satisfied { 
            background: url('~@svg/icon-sentiment-very-satisfied.svg') no-repeat center;
        }

        tbody tr:last-of-type { background: $color-lightBlue; }
    }
}

.info-table {
    tr {
        td, th { 
            border-top: none; 
            padding: .3rem;
        }
    }
}