.aae-table{
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    background-color: transparent;
    box-sizing: border-box;
    td,
    th{
        padding: .75rem;
        vertical-align: top;
        border-top: 1px solid #dee2e6;
    }
}

.data-table {
  width: 100%;
  margin-bottom: 1.5em;
  border-spacing: 0;
  
  @media (min-width: $bp-medium) {
    font-size: .9em; 
  }
  
  @media (min-width: $bp-large) {
    font-size: 1em; 
  }
  
  thead {
    position: absolute;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    padding: 0;
    border: 0;
    height: 1px; 
    width: 1px; 
    overflow: hidden;
    
    @media (min-width: $bp-medium) {
      position: relative;
      clip: auto;
      height: auto;
      width: auto;
      overflow: auto;
    }
    
    th {
      background-color: $color-blue;
      border: 1px solid $color-blue;
      font-weight: normal;
      text-align: center;
      color: white;
      
      &:first-of-type {
        text-align: left; 
      }
    }
  }
  
  tbody,
  tr,
  th,
  td {
    display: block;
    padding: 0;
    text-align: left;
    white-space: normal;
  }
  
  tr {   
    @media (min-width: $bp-medium) {
      display: table-row; 
    }
  }
  
  th,
  td {
    padding: .5em;
    vertical-align: middle;
    
    @media (min-width: $bp-small) {
      padding: .75em .5em; 
    }
    
    @media (min-width: $bp-medium) {
      display: table-cell;
      padding: .5em;
    }
    
    @media (min-width: $bp-large) {
      padding: .75em .5em; 
    }
    
    @media (min-width: $bp-xl) {
      padding: .75em; 
    }
  }
  
  tbody {
    @media (min-width: $bp-medium) {
      display: table-row-group; 
    }
    
    tr {
      margin-bottom: 1em;
      
      @media (min-width: $bp-medium) {
        display: table-row;
        border-width: 1px;
      }
      
      &:last-of-type {
        margin-bottom: 0; 
      }
    }
    
    th[scope="row"] {
      background-color: $color-blue;
      color: white;
      
      @media (min-width: $bp-small) {
        border-left: 1px solid  $color-blue;
        border-bottom: 1px solid  $color-blue;
      }
      
      @media (min-width: $bp-medium) {
        background-color: transparent;
        color: $color-darkgrey;
        text-align: left;
      }
    }
    
    td {
      text-align: right;

      .btn-question-edit {
        margin-left: 0;
      }
      
      @media (min-width: $bp-medium) {
        border-left: 1px solid  $color-blue;
        border-bottom: 1px solid  $color-blue;
        text-align: left; 
      }
      
      &:last-of-type {
        @media (min-width: $bp-medium) {
          border-right: 1px solid  $color-blue;
        } 
      }
    }

    td[data-title]:before {
      content: attr(data-title);
      float: left;
      font-size: .8em;
      color: $color-grey;
      
      @media (min-width: $bp-small) {
        font-size: .9em; 
      }
      
      @media (min-width: $bp-medium) {
        content: none; 
      }

      @media (max-width: $bp-medium) {
        margin-right: 1em;
      }
    } 
  }
}

.smiley-table{
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    background-color: transparent;
    overflow: hidden;
    border-collapse: separate;
    border-spacing: 0;
    // border-radius: .25rem;
    text-align: left;
    line-height: 40px;
    
    th, 
    td{
        padding: .75rem;
        vertical-align: top; 
        border-top: 1px solid #dee2e6;       
        
        @media screen and (max-width: $mobile) {
            float: left;
            &.clear {clear: left;}
        }

        label {
            > input[type="radio"]{
                display: none;

                + span {
                    width: 36px;
                    height: 36px;
                    display: inline-block;
                    vertical-align: middle;

                    .a { fill: transparent; } // svg path surface
                    .b { fill: $color-lightBlue; } // svg path outline
                }

                &:checked + span { 
                    .b { fill: $color-blue; } // svg path outline
                }
            }
        }

        &:hover{ cursor: pointer; }        
    }

    &.result-table {
        .result-head {
            vertical-align: middle;
            padding: 2em 0.75em;
        }
        
        td, 
        th {
            &:not(:nth-of-type(2)) { 
                text-align: center; 
            }

            @media screen and (max-width: $mobile) {
                float: none;
            }

            &:first-of-type { padding-left: 0; }
        }
        

        .very-dissatisfied { 
            background: url('~@svg/icon-sentiment-very-dissatisfied.svg') no-repeat center;
        }
        .dissatisfied { 
            background: url('~@svg/icon-sentiment-dissatisfied.svg') no-repeat center;
        }
        .satisfied { 
            background: url('~@svg/icon-sentiment-satisfied.svg') no-repeat center;
        }
        .very-satisfied { 
            background: url('~@svg/icon-sentiment-very-satisfied.svg') no-repeat center;
        }

        tbody tr:last-of-type { background: $color-lightBlue; }
    }
}

.info-table {
    tr {
        td, th { 
            border-top: none; 
            padding: .3rem;
        }
    }
}