.input-row{
    margin: 15px 0;
}
.row-layout{
    display: flex;
    justify-content: space-between;
    margin: 5px 0;
    .col-listing{
        li{
            margin: 5px 0;
        }
    }
}
.input-listcol{
    label{
        margin-bottom: 10px;
    }
    .option-class{
        margin: 12px 0;
        &:last-child{
            margin-bottom: 30px;
        }
    }
    .first-class{
        margin-top:20px;
    }
}
.row-choice{
    display: flex;
    margin: 20px 0;
    .option-choice{
        width: 25%;
    }
}
.row{
    margin: 25px 0;
}