.autoeval-container {
    .nb-auto-eval {
        font-size: 13px;
        color: $color-darkgrey;
        margin: 20px 0;
    }

    .autoeval__old-questions {
        margin-top: 60px;
        width: 100%;

        .old-questions__separateur {
            width: 100%;
            display: flex;
            height: auto;
            align-items: center;
            justify-content: center;
            position: relative;
            margin-bottom: 20px;

            p {
                font-family: $font;
                color: $color-blue;
                font-size: 16px;
                position: relative;
                z-index: 2;
                padding: 0 15px;
                background: white;
            }

            &:after {
                content: '';
                position: absolute;
                top: 50%;
                left: 0;
                width: 100%;
                z-index: 1;
                transform: translateY(-50%);
                height: 1px;
                background: $color-blue;
            }
        }
    }
}