* {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    // color: black;
}

* {
    font-family: $font;
}

.wrapper {
    width: $wrapperDesktop;
    margin: 0 auto
}