// Variables de wrapper
$wrapperDesktop: 50vw;
$mobile: 480px;

// Variables de mediaqueries
$laptop: 1350px;
$tablet: 1080px;
$mobile: 480px;

// Variables de fontes
$font: 'Roboto-Regular', sans-serif;
$font-bold: 'Roboto-Bold', sans-serif;
$font-medium: 'Roboto-Medium', sans-serif;
$font-light: 'Roboto-Light', sans-serif;
$font-black: 'Roboto-Black', sans-serif;

// Variables de couleurs
$color-lightgrey: #EEEEEE;
$color-grey: #b6b6b6;
$color-darkgrey: #757575;
$color-black: #212121;
$color-lightBlue: #BCE0FD;
$color-blue: #2699FB;
$color-darkblue: #0084F5;
$color-white: #ffffff;
$color-red: rgb(231, 34, 34);
$color-darkred: rgb(204, 23, 23);


// Variables cubic-bezier
$curve: cubic-bezier(.7,0,.3,1);
$curve2: cubic-bezier(.82,.01,.2,.99);